@model Pokedex.core.Application.ViewModel.SavePokemonsViewModel


<div class="row">

    <div class="col-12">
        <div class="card bg-dark text-white border border-5 rounded-3 shadow">
            <div class="card-header">
                <h4 class="text-center">Do you like to delete this Pokemon?</h4>
            </div>
            <form method="post" asp-controller="Pokemons" asp-action="DeletePost">
                <div class="card-body">
                    <div class="row d-flex ">
                        <div class="col-12 col-md-6">
                            <img class="img-thumbnail" src="@Model.pokemonImg" alt="@Model.pokemonName" />
                        </div>
                        <div class="col-12 col-md-6">
                           <ul>
                               <li>Name: @Model.pokemonName</li>
                               <li>Region: @Model.pokemonRegionId</li>
                               <li>Type primary: @Model.TypePrimaryPokemonId</li>
                               <li>Type secondary: @Model.TypeSecondaryPokemonId</li>
                           </ul>
                        </div>
                    </div>
                    <input type="hidden" asp-for="id" />
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-danger">Delete</button>
                    <a class="btn btn-outline-info" asp-controller="Pokemons" asp-action="Index">Go back</a>
                </div>
            </form>
        </div>
    </div>

</div>