@model IEnumerable<Applications.ViewModel.PokemonsViewModels>;
@{
    ViewData["Title"] = "Pokemons";

    var typePokemonNamen = ViewBag.PokemonsT;
    var count = ViewBag.CountT;
}

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-outline-success" asp-controller="Pokemons" asp-action="CreatePokemons">Create</a>
        </div>
    </div>
    <div class="card text-white bg-dark">
        <div class="card-body">
            <table class="table table-dark table-striped table-responsive">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Pokemon Name</th>
                        <th scope="col">Pokemon Img</th>
                        <th scope="col">Type 1 of pokemon</th>
                        <th scope="col">Type 2 of pokemon</th>
                        <th scope="col">Opcions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Applications.ViewModel.PokemonsViewModels item in Model)
                    {
                        <tr class="text-center">
                            <th scope="row">@item.id</th>
                            <td>
                                <img src="@item.pokemonImg" class="img-size" alt="@item.pokemonName">
                            </td>
                            <td>@item.pokemonName</td>
                            <td>@item.typesPrimaryPokemons.typeName</td>
                            <td>
                                @for (var i = 0; i < count; i++)
                                {
                                    @if (item.TypeSecondaryPokemonId == typePokemonNamen[i].id ) 
                                    {
                                        @typePokemonNamen[i].typeName
                                    }
                                }
                            </td>
                            <td class="">
                                <a class="btn btn-outline-warning col-12  mb-4" asp-controller="Pokemons" asp-action="EditPokemons" asp-route-id="@item.id">edit</a>
                                <a class="btn btn-outline-danger col-12 " asp-controller="Pokemons" asp-action="Delete" asp-route-id="@item.id">delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>